
.estudio1 {
  height: 150px;
  border-radius: 80px;
  border: 1px solid black;
}

.estudio2{
  height: 150px;
  border-radius: 80px;
  border: 1px solid black;
}

.estudio3{
  height: 150px;
  border-radius: 80px;
  border: 1px solid black;
}

.pictureHeader{
  height: 250px;
  border-radius: 120px;
  border: 1px solid black;
}

.pictureAboutme{
  height: 200px;
  border-radius: 200px;
  border: 1px solid black;
}

.footer-image{
  height: 20px;
  border-radius: 50px;
  border: 1px solid black;
}

.footer{
  background-color:#FDF535;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: "center"
}

.experiencia{
  height: 200px;
  border-radius: 200px;
  border: 1px solid black;
}

.text-center-vertical{
  display: flex;
   align-items: center;
}

.portafolio{
  height: 200px;
  border-radius: 200px;
}

.landigPage{
  background-color:#FBFDA2
}

.navbar{
  background-color: #FDF535;
}

.color-perfil{
  background-color: #FBFDA2;
}

.nombre{
  font-family: 'Verdanar'
}

.text-right{
  text-align: right;
}